<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard | PR Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="uk-flex uk-flex-right uk-margin-large-right uk-margin-medium-top">
            <a href="/submit"><button class="uk-button uk-button-primary">Submit a Press Release</button></a>
        </div>
        <div class="uk-container uk-margin-large-bottom">
            <div class="uk-text-center uk-margin-large-bottom">
                <h1>All Press Releases | MONMUNC 2021</h1>
                <h3>From the nation's leaders</h3>      
            </div>
            <div class="uk-grid-medium uk-grid-match uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid>
                <% allreleases.forEach(release => { %>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-text-break">
                            <div>
                                <h3 class="uk-card-title uk-margin-remove-bottom"><%= release.title %> </h3>
                                <h4 class="uk-card-subtitle uk-margin-remove-top">From: <%= release.from %></h4>
                            </div>
                            <p><%- release.body %> </p>
                            <p><%= release.createdAt %></p>
                        </div>
                    </div>                    
                <% }) %>
            </div>

        </div>
        <footer class="uk-flex uk-flex-center uk-background-secondary uk-light uk-padding uk-panel">
            <p class="uk-h6"><a href="https://github.com/sidharrth2002" target="_">Sidharrth Nagappan</a> | 2021</p>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>
    </body>
</html>