<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Release | PR Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
        <script src="https://cdn.ckeditor.com/4.15.1/full-all/ckeditor.js"></script>
    </head>
    <body>
        <div class="uk-text-center uk-margin-large-top">
            <h1>Edit Press Release</h1>
        </div>

        <div class="uk-container uk-container-center uk-flex uk-flex-center">
            <% if (release) { %>
             
            <form onsubmit="return checkData()" method="POST" action="/pressrelease/update/<%= release.id %>" class="uk-form-stacked uk-width-2-3 uk-container-center">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">Title</label>
                    <div class="uk-form-controls">
                        <input name="title" class="uk-input" id="form-stacked-text" type="text" value="<%= release.title %>" required>
                    </div>
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label">Type Press Release Below</label>
                    <textarea id="htmleditor" rows="3" name="body" class="uk-textarea" rows="5" placeholder="Textarea"><%- release.body %> </textarea>
                </div>
            
                <input type="submit" class="uk-button uk-button-primary">
            </form>  
            <% } %>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>
        <script>
            CKEDITOR.replace( 'htmleditor' );
            //check the ckeditor
            function checkData() {
                if(CKEDITOR.instances.htmleditor.getData().length > 0) {
                    return true;
                } else {
                    window.alert('Please enter body of the press release.')
                    return false;
                }
            }
        </script>
        </body>
</html>